<!DOCTYPE html>
<html>
<head>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<meta charset="utf-8">
	<title>Measuring page</title>
	<script type="text/javascript">
		function onBack(){
			window.location.href="/main";
		}


	</script>
	<style type="text/css">
		body {
			width : 800px;
			height : 650px;
			margin : 20px;
		}
		.container {
			width: 870px; 
			height: 600px;
			padding: 5px;
			border: 3px solid;
		}

		.contents {
			position: absolute;
			top: 80px;
			width: 850px; 
			height: 500px; 
			
		}
		input, label, select {
			margin-top: 3px;
		}

		input[type="text"] {
		    width: 120px;
		    border: 1px solid #d6d6d6;
		    padding: 2px;
		    outline: none;
		}
		.input1 {
			position: relative;
			width: 850px;
			height: 180px;
			left: 3px;
			text-align: left;
			margin-top: 20px;
		}
		.input2 {		
			position: relative;	
			width: 850px;
			height: 200px;
			left: 3px;
			text-align: left;
			margin-bottom: 5px;			
		}

		.input_detail_1 {
			float: left;
			width: 100px;
			clear: left;		
		}
		.input_detail_2 {
			position:absolute;
			margin-left: 20px;
			width: 100px;
			clear: left;
		}
		.input_detail_3 {
			position:absolute;
			left: 530px;
			width: 100px;
			height: 20px;
			clear: left;
		}

		.input2_detail_1 {
			position:absolute;
			width: 100px;
			clear: left;		
		}
		.input2_detail_2 {
			position:absolute;
			left : 220px;
			margin-left: 20px;
			width: 100px;
			clear: left;
		}
		.input2_detail_3 {
			position:absolute;
			left: 530px;
			width: 100px;
			height: 20px;
			clear: left;
		}



	

	</style>
</head>
<body>

	<div class="container">
		<div class="header" style="position: absolute; width: 850px; height: 50px; border-bottom: 3px solid; margin: 0px;">
			<p style="float: left; margin: 0px; width: 600px; text-align: left; font-size: 30px; font-weight: 100"><strong>구로 병원 로지스틱 계산 시스템</strong></p>
			<input type="button" value="뒤로" onClick="onBack()" style="float: right;">
			

		</div>

		<form action="{{ url_for('measureDiabetsResult') }}" method="post" name=frm>

			<div class="contents">
				<div class="input1">								
					<fieldset>
						<legend>INPUT 1</legend>
						<label class="input_detail_1">체질량지수</label>
						<input type="text" style="text-align: right;" name="BMI"  >
						<label class="input_detail_2">총 콜레스트롤</label>
						<input type="text" style="position: absolute; left: 350px; width: 150px; text-align: right;" name="TOT_CHOLE" >				
						<label class="input_detail_3">감마지티피</label>
						<input type="text"  style="position: absolute; left: 680px" name="GAMMA_GTP"  >
						<br />

						<label class="input_detail_1">수축기혈압</label>
						<input type="text" name="BP_HIGH"  >
						<label class="input_detail_2">혈색소</label>
						<input type="text" style="position: absolute; left: 350px; width: 150px; text-align: right;" name="HMG" >	
						<label class="input_detail_3">과거병력(1)</label>
						<select id="past_disease1" style="position: absolute; left: 680px; width:120px;" name="HCHK_PMH_CD1">
							<option selected disabled></option>	
							<option value="tuberculosis">결핵
							<option value="hepatitis">간염
							<option value="soyDisease">간장질환
							<option value="heart">심장병
							<option value="stroke">뇌졸중
							<option value="diabetes">당뇨병
							<option value="cancer">암
							<option value="others">기타질환
							<option value="nothing">없음
						</select>
						<br />

						<label class="input_detail_1">이완기혈압</label>
						<input type="text" name="BP_LWST" >
						<label class="input_detail_2">(혈청GOT)AST</label>
						<input type="text" style="position: absolute; left: 350px; width: 150px; text-align: right;" name="SGOT_AST" >	
						<label class="input_detail_3">과거병력(2)</label>
						<select id="past_disease2" style="position: absolute; left: 680px; width:120px;" name="HCHK_PMH_CD2">
							<option selected disabled></option>	
							<option value="tuberculosis">결핵
							<option value="hepatitis">간염
							<option value="soyDisease">간장질환
							<option value="heart">심장병
							<option value="stroke">뇌졸중
							<option value="diabetes">당뇨병
							<option value="cancer">암
							<option value="others">기타질환
							<option value="nothing">없음
						</select>
						<br />

						<label class="input_detail_1">식전혈당</label>
						<input type="text" name="BLDS" >
						<label class="input_detail_2">(혈청GPT)ALT</label>
						<input type="text" style="position: absolute; left: 350px; width: 150px; text-align: right;" name="SGPT_ALT" >
						<label class="input_detail_3">과거병력(3)</label>
						<select id="past_disease3" style="position: absolute; left: 680px; width:120px;" name="HCHK_PMH_CD3">
							<option selected disabled></option>	
							<option value="tuberculosis">결핵
							<option value="hepatitis">간염
							<option value="soyDisease">간장질환
							<option value="heart">심장병
							<option value="stroke">뇌졸중
							<option value="diabetes">당뇨병
							<option value="cancer">암
							<option value="others">기타질환
							<option value="nothing">없음
						</select>						
						<br />	
						<br />

					</fieldset>
			</div>

			<div class="input2" >
				<fieldset>
						* 가족력
						<legend style="margin: 0px;">INPUT 2</legend>
						<label class="input2_detail_1">간장질환유무*</label>
	 					<label style="position: absolute; left: 110px"><input type="radio" name="famLIVER" value="yes" /> Yes</label>
						<label style="position: absolute; left: 160px"><input type="radio" name="famLIVER" value="no" /> No</label>
						
						<label class="input2_detail_2" >흡연상태</label>
						<select id="drink_habit" style="position: absolute; left: 350px; width:120px;" name="SMK_STAT">
							<option selected disabled></option>	
							<option value="never">피우지 않는다
							<option value="had_been">과거에 피우고 지금은 안핌
							<option value="be_ing">현재도 피운다
						</select>

						<label class="input2_detail_3">음주습관</label>
						<!--<input style="position: absolute; left: 650px; " type="text" name = "DRNK_HABIT"/ > -->
						<select id="drnk_habit" style="position: absolute; left: 680px;" name="DRNK_HABIT">
								<option selected disabled></option>	
								<option value="none">거의 안마심
								<option value="monthly">월 2~3회
								<option value="weekly1~2">주 1~2회
								<option value="weekly3~4">주 3~4회
								<option value="daily">거의 매일 마심
												
							</select>	

						<br />

						<label class="input2_detail_1">고혈압유무*</label>
	 					<label style="position: absolute; left: 110px"><input type="radio" name="famHPRTS" value="yes" /> Yes</label>
						<label style="position: absolute; left: 160px"><input type="radio" name="famHPRTS" value="no" /> No</label>
						<label class="input2_detail_2">흡연기간</label>
						<!--<input type="text" style="position: absolute; left: 400px" name="SMK_TERM"/>-->
						<select id="smk_term" style="position: absolute; left: 350px; width:120px;" name="SMK_TERM">
							<option selected disabled></option>	
							<option value="~5">5년 미만
							<option value="5~9">5~9년
							<option value="10~19">10~19년
							<option value="20~29">20~29년
							<option value="30~">30년 이상
						</select>

						<label class="input2_detail_3">1회 음주량</label>
						<!--<input type="text" style="position: absolute; left: 650px" name="TM1_DRKQTY" >-->
						<select id="drkqty" style="position: absolute; left: 680px;" name="TM1_DRKQTY">
								<option selected disabled></option>	
								<option value="0.5">반병 이하
								<option value="1">1병
								<option value="1.5">1병 반 
								<option value="2">2병 이상
							</select>
						<br />

						<label class="input2_detail_1">뇌졸중유무*</label>
	 					<label style="position: absolute; left: 110px"><input type="radio" name="famAPOP" value="yes" /> Yes</label>
						<label style="position: absolute; left: 160px"><input type="radio" name="famAPOP" value="no" /> No</label>
						<label class="input2_detail_2">하루흡연량</label>
						<!--<input type="text" style="position: absolute; left: 400px" name="DSQTY"/>-->
						<select id="dskqty" style="position: absolute; left: 350px;" name="DSQTY">
								<option selected disabled></option>	
								<option value="0.5">반갑 이하
								<option value="0.5~1">반갑~1갑
								<option value="1~2">1갑~2갑
								<option value="2~">2갑 이상
						</select>
						<label class="input2_detail_3">1주 운동횟수</label>
						<!--<input type="text" style="position: absolute; left: 650px" name="EXERCI"  >-->
						<select id="exerci" style="position: absolute; left: 680px;" name="EXERCI">
								<option selected disabled></option>	
								<option value="0">안한다
								<option value="1~2">1~2회
								<option value="3~4">3~4회
								<option value="5~6">5~6회
								<option value="7">거의 매일
							</select>
						<br />

						<label class="input2_detail_1">심장병유무*</label>
	 					<label style="position: absolute; left: 110px"><input type="radio" name="famHDISE" value="yes" /> Yes</label>
						<label style="position: absolute; left: 160px"><input type="radio" name="famHDISE" value="no" /> No</label>



						<br />
						
						<label class="input2_detail_1">당뇨병유무*</label>
	 					<label style="position: absolute; left: 110px"><input type="radio" name="famDIABML" value="yes" /> Yes</label>
						<label style="position: absolute; left: 160px"><input type="radio" name="famDIABML" value="no" /> No</label>
						<br />

						<label class="input2_detail_1">암유무*</label>
	 					<label style="position: absolute; left: 110px"><input type="radio" name="famCANCER" value="yes" /> Yes</label>
						<label style="position: absolute; left: 160px"><input type="radio" name="famCANCER" value="no" /> No</label>
						<br />
						<br />	
						<input type="submit" value="Enter" >
				
	 					<br />

				</fieldset>
			</div>	
			
		</div>
		</form>

	</div>

      {% if errors %}
      <div class="alert alert-danger">
		{{ errors }}
      </div>
      {% endif %}

</body>
</html>