<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SignUp Page</title>
<!-- 	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/signup.css') }}"> -->
	<script type="text/javascript">
		isUser = {{isUser}} + "";
		if(isUser.indexOf('true')>-1){
			alert('같은 사용자가 존재합니다.');
		}
		

		function onBack(){
			window.location.href="/main";
		}


	</script>
	<style type="text/css">
		body {
		  width : 800px;
		  height : 650px;
		  margin : 20px;
		}
		.header {
		  position: absolute; 
		  width: 720px; 
		  height: 50px; 
		  border-bottom: 3px solid; 
		  margin: 0px;
		}
		.container {

		  height: 500px; 
		  width: 720px; 
		  border: 3px solid;
		}

		.contents {
		  float : left;
		  position: absolute;
		  top: 100px;
		  height: 500px; 
		  width: 200px; 
		}

	</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<p style="float: left; margin: 0px; width: 400px; text-align: left; font-size: 30px; font-weight: 100"><strong>사용자 등록</strong></p>
			<input type="button" value="뒤로" onClick="onBack()" style="float: right; margin-right: : 20px">
		</div>
		<div class="contents">			
			<form action="{{ url_for('.saveSignUp') }}" method="post">
				<label for="inputName" class="sr-only">Name</label>
				<input type="name" name="inputID" id="inputName" class="form-control" placeholder="Name">
				<label for="inputEmail" class="sr-only">Password</label>
				<input type="password" name="inputPWD" id="inputPWD" class="form-control" >
				<!-- <label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="inputPassword" value="SignUp"> -->
				<br>
				<input type="submit" id="btnSignUp" value="Sign up" >
			</form>
		</div>	
	</div>


</body>
</html>