<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>
	<div class="container">
      <div class="header">
        <h3 class="text-muted">Upload only CSV file</h3>
      </div>
      <hr/>
      <div>
      
      <form action="{{ url_for('saveUploadedFile') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>


</body>
</html>